@media only screen and (max-width: 600px) {
    /* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

  .amenityContainer {
    max-width: 1000px;
    padding: 0px;
    margin-top: 20px;
  }
  
  .containerAmenities checkbox
  .check-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .amenity-item-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px;
    width: 100%;
    border-radius: 5px;
    margin: 0 15px 20px 0;
    border: 0px solid #C5C4C4;
    background: #FFF;
    padding: 0px;
    box-shadow: none;
  }
  
  .policy-item-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px;
    width: 100%;
    border-radius: 5px;
    margin: 0 15px 20px 0;
    background: #FFF;
    padding:20px;
  }
  
  .amenitesPage-subtitle {
    color: #263238;
    text-align: center;
    font-family: "Volkhov";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 138.2%; /* 69.1px */
  }
  
  .amenitycontainer-full {
    width: 100%;
  }
  
  .amenity-title {
    padding: 6px 0;
    color: #263238;
    text-align: left;
    font-family: "Volkhov";
    font-size: 0px;
    font-style: normal;
    font-weight: 700;
    line-height: 138.2%; /* 41.46px */
    margin-bottom: -5%;
  }
  
  .amenity-subtitle {
    padding-bottom: 10px;
    color: #383737;
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.2%; /* 24.876px */
    margin-top: 4%;
    margin-bottom: 0%;
  }
  
  .containerAmenities {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    cursor: pointer;
    color: #383737;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
  }
  
  .containerAmenities input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .addMoreBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -30px;
  }
  
  .addMoreBtn button {
    background-color: #6E9E76;
    color: #ffffff;
    font-size: 16px;
    padding: 18px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .addMoreBtn span {
    font-size: 16px;
  }
  
  .addMoreBtn input {
    height: 30px;
    width: 90%;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .addMoreBtn-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6E9E76;
    width: 13px;
    height: 13px;
    margin-right: 10px;
    color: #ffffff;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: left;
  }
  
  .addmore span{
    color: #383737;
    font-family: "Raleway";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.2%; /* 34.55px */
  }
  
  .custom-checkbox input[type="checkbox"] {
    color: green;
  }

  .extranetAmenities .MuiPaper-elevation1 {
    box-shadow: none !important;
    border: none !important;
  }
  
  .extranetAmenities .MuiTypography-body1{
    font-family: "Raleway", sans-serif !important;
    font-size: 16px !important;
  }
  
  .extranetAmenities .PrivateSwitchBase-input css-1m9pwf3{
    border-radius: 20px !important;
    border: 1px !important;
  }

  .responsive-grid-item {
    width: 50%;
    line-height: 0% !important;
  }

  .amenityheader{
    font-family: "Raleway", sans-serif !important;
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  .amenitysubheader{
    font-family: "raleway", sans-serif !important;
    font-size: 15px !important;
    margin-bottom: 5px !important;
    color: #383737 !important;
    margin-top: -5px !important;
  }

  .addmorebuttonmobile{
    width: 20px !important;
    height: 30px !important;
    border: none !important;
    font-size: 15px !important;
    color: #FFF !important;
    margin-top: 5px;
  }

  .addmorebuttontext{
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .amenityheader{
    font-size: 18px !important;
    font-weight: 700 !important;
    font-family: "Volkhov", sans-serif !important;
  }

  .amenitysubheader{
    font-size: 14px !important;
    font-family: "Raleway", sans-serif !important;
    margin-bottom: 5px !important;
    margin-top: -5px !important;
    color: #383737 !important;
  }

  .amenitiescheckbox{
    font-size: 12px !important;
  }

  .propertyPolicyCardAmenities{
    width: 100% !important;
    float: left;
    margin-bottom: 0px !important;
  }

  .extranetAmenities{
    margin-top: -7%;
  }

  .extranetAmenities .MuiFormControlLabel-root {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-left: -24px !important;
    margin-right: 16px;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
  }

  .extranetamenitiesindcont{
    margin-bottom: -20px;
  }

  .addmoredivamenities{
    font-size: 16px !important;
    margin-left: -14px !important;
    margin-top: 15px !important;
  }
  
  .addmoreamenities{
    margin-right: 10px !important;
    width: 22px !important;
    height: 25px !important;
    font-size: 18px !important;
  }

  .addmoreModal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: #FFF;
    border: 2px solid #FFF;
    box-shadow: 24;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .amenitymodaltitle{
    font-size: 15px !important;
  }
}