.tableMenu-container {
  display: flex;
  gap: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.tableMenu-container > button {
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-radius: 10px;
  opacity: 0.8;
  background: #d7f0c3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 5px;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 1;
    scale: 1.02;
    transition: all ease 0.2s;
  }
}

.tableMenu-container > button > span {
  font-family: Poppins;
  font-size: 16px;
}

.tableMenu-container > button > :nth-child(2) {
  margin-bottom: 5px;
}

.tableMenu-scrollBtn {
  display: flex;
  align-items: center;
}

.tableMenu-scrollBtn > button {
  border: 0.5px solid #000;
  background: #c3c3c3;
  padding: 2px;
  cursor: pointer;

  &:hover {
    transition: all ease 0.2s;
    scale: 1.02;
  }

  &:active {
    scale: 1;
    transition: all ease-in-out 0.2s;
  }
}

.tableMenu-scrollBtn > :nth-child(2) {
  padding: 0 5px;
}

.bookKeeping-tableContainer {
  margin-top: 30px;
}

.bookKeeping-listLegends {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 20px 5px;
  gap: 20px;
}

.listLegends-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.listLegends-box {
  border: 1px solid #000;
  width: 106px;
  height: 17px;
  display: block;
}

.listLegends-text {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
}

.listLegends-white {
  background-color: white;
}

.listLegends-gray {
  background-color: #bfc4c7;
}

.bookingHistory-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 10px 0;
}

.bookingHistory-container > :nth-child(1) {
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
