@font-face {
    font-family: Volkhov;
    src: url(../../../assets/fonts/Volkhov-Bold.ttf);
}

@font-face {
    font-family: ec;
    src: url(../../../assets/fonts/Eczar-VariableFont_wght.ttf);
}

.mailBody{
    width: 1080px;
    font-size: 12px;
    padding-bottom: 40px;
    font-family: Volkhov;
}

.mailDesc {
    margin-top: -30px;
    font-family: ec;
}

.mail {
    width: 97.6%;
    margin-top: 50px;
    background: radial-gradient(97.97% 2556.7% at 3.47% 50.25%, #214327 0%, #638A6A 48.17%, #67836C 100%);
    color: white;
    display: flex;
    align-items: center;
    gap: 200px;
    padding-left: 30px;
    padding-bottom: 40px;
    border-radius: 30px;
}

.mailLeft{
    padding-left: 20px;
    font-size: large;
}

.mailInputContainer>input {
    background-color: #FFFFFF;
    width: 180px;
    height: 20px;
    padding: 10px;
    border: none;
    margin-right: 10px;
    border-radius: 10px;
}

.mailInputContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.mailInputContainer> {
    height: 35px;
    background-color: #214327;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 130px;
}

.mailInputContainer input::placeholder {
    text-align: center;
    color: #5F5E5E;
    font-weight: lighter;
}