.commentSlideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-left: -3%;
    overflow: hidden;
    border-bottom: 1px solid #000;
    cursor: pointer;
    width: 99%;
}
  
.commentHL {
    color: rgba(38, 50, 56, 0.80);
    font-family: Volkhov;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 148.2%; /* 14.82px */
    letter-spacing: -0.35px;
    transition: color 0.3s;
    padding: 10px;
}
   
.commentHL.active {
    color: #000; 
}
  