.overviewDetails-card {
  border: 1px solid #b6b5b5;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 15px 0;
}

.overviewDetails-card > * {
  padding-bottom: 5px;
}

.overviewDetails-card p {
  font-size: 15px;
  font-family: "Raleway", "sans-serif";
  font-weight: 500;
}

.overviewDetails-description {
  line-height: 1.5;
  font-family: "Raleway", "sans-serif";
}

.overview-hotelName {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.overview-hotelName h1 {
  color: red;
}

.overview-stars {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
}

.overview-stars img {
  width: 15px;
  height: 15px;
}

.overview-hotelAddress {
  font-family: "Raleway", "sans-serif";
}

.overview-hotelMap {
  color: red;
  font-size: 12px;
  font-family: "Raleway", "sans-serif";
  cursor: pointer;
}

.overview-highlights {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  margin-top: 10px;
}

.overview-highlights-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in;
}

.overview-highlights-items:hover {
  cursor: pointer;
  scale: 1.02;
  animation: spin 0.5s linear;
}

@keyframes spin {
  to {
    transform: rotateY(180deg);
  }
}

.overview-detailBody {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.overview-leftCard {
  height: 100%;
}

.overview-scoreFlex {
  display: flex;
  align-items: center;
  border: 1px solid #b6b5b5;
  border-radius: 15px 0 0 0;
}

.overview-score {
  background-color: #263238;
  color: white;
  text-align: center;
  border-radius: 10px 5px 5px 0;
  padding: 25px 30px;
  font-weight: bold;
  font-size: 20px;
}

.overview-score-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 100%;

}

.overview-leftCard-bottom {
  font-family: "Raleway", "sans-serif";
  border: 1px solid #b6b5b5;
  border-radius: 0 0 10px 10px;
  padding: 10px 20px;
  margin: 15px 0 0;
  height: 100%;
}

.overview-leftCard-list {
  padding-left: 17px;
  margin-bottom: 15px;
  line-height: 20px;
  color: gray; 
}

.overview-leftCard-list li {
  font-size: 13px;
}

.overview-leftCard-map {
  margin-bottom: 20px;
}
