.moreInfotooltip {
    position: relative;
    display: inline-block;
}

.moreInfotooltip .moreInfotooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #FFF;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    border: 1px solid #555;
}

.moreInfotooltip {
    margin-right: 10px;
    font-size: 10px;
}

.moreInfotooltip .moreInfotooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.moreInfotooltip:hover {
    padding: 2px;
    border-radius: 2px;
    border: 0.5px solid rgba(171, 170, 170, 0.58);
    background: #E0E0E0;
}

.moreInfotooltip:hover .moreInfotooltiptext {
    visibility: visible;
    opacity: 1;
}

.jpg_icons{
    height: 23px;
}