.manageEventColumn {
    float: left;
    width: 50%;
    padding: 5px;
    margin-bottom: 0px;
}

.manageEventEditButtons{
    display: flex; 
    justify-content: space-between;
}

.manageEventEditButtons button{
    flex: 1;
    padding: 5px;
    margin-right: 10%;
    margin-top: 40%;
    border: none;
    border-radius: 5px;
    background: #FFF;
    box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.manageEventButtonContainer {
    display: flex; 
    justify-content: space-between;
    width: 930px;
}

.manageEventButtonContainer button {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 1px solid #92E3A9;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E9F1EA;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    width: 175px;
    height: 50px;
    color: #263238;
    font-family: 'Raleway',sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 180% */
}

.manageEventButtonContainer button:last-child {
    margin-right: 0;
}

.manageEventContent{
    margin-left: 30px;
    margin-top: -1%;
}

.manageEventContentColumn{
    float: left;
    width: 20%;
    border-bottom: 1px solid #92E3A9;
    margin-left: 0px;
}

.manageEventColumn p{
    border-bottom: 1px solid #92E3A9;
    padding-bottom: 20px;
    color: #263238;
    font-family: 'Volkhov', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 200% */
    text-align: center;
    padding-top: 20px;
    display: inline;
    width: 100%;
}

.manageEventContainer{
    padding: 38px 39px 30px 39px;
    border-radius: 5px;
    background: #FFF;
    border-radius: 5px;
    border: 2px solid #C5C4C4;
    background: #FFF;
    margin-top: 1%;
    margin-bottom: 5%;
}

.manageEventHead{
    color: #263238;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 138.2%; /* 55.28px */
    margin-top: 7%;
    text-align: center;
}

.manageEventContent table{
    width: 100%;
}

.manageEventContent table td{
    text-align: center;
    border-bottom: 2px solid #92E3A9;
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.manageEventContent table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 0%;
    margin-top: 1%;
}

.manageEventContent td {
    padding: 0px;
    border-right: 15px solid #FFF;
    width: 20%;
    position: relative;
}

.manageEventContent input[type="text"] {
    border: none;
    border-bottom: 2px solid #92E3A9;
    width: 175px;
    padding: 0px;
    outline: none;
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
}

.manageEventContent td button {
    margin-right: 5px;
}

.manageEventContent .addButton{
    margin-top: 5%;
    color: #383737;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.2%; /* 20.73px */
    border: none;
    background-color: #FFF;
    width: 100%;
    text-align: left;
}

.manageEventContent .addButton svg{
    float: left;
    margin-right: 1%;
}

.eventModal{
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: #FFF; 
    background-color: rgba(0,0,0,0.4);
}

.eventModalContent{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
    text-align: center;
    color: #263238;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.eventModalButtons{
    display: flex;
    margin-left: 40%;
    margin-top: 2%;
}

.eventModalButtons button{
    margin: 8px;
    color: #263238;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #FFF;
    border: none;
}