.aboutUs-navbar {
  margin-bottom: 70px;
}

p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aboutUs-ScreenSize {
  width: 70%;
  margin: 0 auto;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}